

Welcome to working with sessions, <%= name %>!
<br>
How much snow did you get last night?
<br>
<form method="post" action="snow">
	<input type="text"  name="snow">
	<br>
	<br>
	<input type="submit">
</form>